### Explanation
Tuples are ordered collctions of items that are immutable. Thay are similar to lists, but their immutability makes them different

In [1]:
## creating tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = list()
print(type(tpl))

<class 'list'>
<class 'list'>

In [ ]:
numbers = tuple([1, 2, 3, 4, 5, 6])#convert list to tuple
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
list((1, 2, 3, 4, 5, 6))#convert tuple to list

[1, 2, 3, 4, 5, 6]

In [7]:
mixed_tuple = (1, "Hello world", 3.14, True )
print(mixed_tuple)

(1, 'Hello world', 3.14, True)

In [9]:
## Accessing tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [10]:
print(numbers[2])
print(numbers[-1])

3
6

In [11]:
numbers[0:4]#slicing operation

(1, 2, 3, 4)

In [ ]:
numbers[::-1]

(6, 4, 2)

In [15]:
## Tuple operation

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello world', 3.14, True)

In [17]:
mixed_tuple * 3 # repeated three times

(1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True)

In [18]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [ ]:
##Immutable nature of tuples
##tuples are immutable, meaning their elements can not be chnaged once assigned

lst = [1, 2,3, 4, 5]##This is list not tuple
print(lst)

lst[1] = "Krish"#list is mutable
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [21]:
numbers[1] = "Krish"#tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Tuple methods
print(numbers.count(1))#number of times element 1 present
print(numbers.index(3))#element 3 present in which index

1
2

In [1]:
## PAcking and unpacking tuple

#packing
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [2]:
#Unpacking a tuple
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [6]:
#Unpacking with *

numbers = (1, 2, 3, 4, 5, 6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
##Nested tuples
##nested List
lst =[[1, 2, 3, 4],[6, 7, 8, 9],[1, "Hello", 3.14, "c"]]
lst[0][0:3]

[1, 2, 3]

In [10]:
lst =[[1, 2, 3, 4],[6, 7, 8, 9],(1, "Hello", 3.14, "c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [15]:
nested_tuple = ((1,2,3), ('a','b','c'),(True, False))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [16]:
##iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item , end=' ')
    print()

1 2 3
a b c
True False

#### Conclusion

Tuple are versatile and useful in real-world scenarios where an immutable and ordered collection of items is required.They are commonly used in data structures, function argumentsand return values, and as dictionary keys.Understanding how to leverage tuples effectively can improve the efficency and readability of your python code.