In [2]:
a=100

In [1]:
##declaring and assigning a variable
age = 32
height = 6.1
name = "sandip"
is_student = True
## Printing the varibale
print("age :", age)
print("Height :", height)
print("Name:", name)

age : 32
Height : 6.1
Name: sandip

In [3]:
## Naming conventions
##varible name should be descriptive
##They must be start with a letter or '_' and contains letter, number and underscorers
##variable names are case sensitive

#valid variable names

first_name ="Krish"
last_name = "Naik"

In [ ]:
#Invalid Varibale names
#2age=30
#first-name="Krish"
#@name="Krish"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1937417125.py, line 3)

In [ ]:
##Case Sensitive
name="Krish"
Name="Naik"
#Both are different identifiers

In [6]:
#Understanding Variable types
##Python is a dynamically typed, type of a variable determined at runtime
age=25#int
height=6.1#float
name="Krish"#str
is_student=True #bool
print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [7]:
##Type checking and conversion
type(height)

float

In [8]:
age = 25
print(type(age))

#type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [9]:
age = '25'
print(type(int(age)))

<class 'int'>

In [ ]:
name = "Krish"#Because it is not a numerical string
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [11]:
height=5.11
type(height)

float

In [13]:
float(int(height))

5.0

In [14]:
## Dynamic typing
##python allows type of a variable to change as the program executes
var =10
print(var, type(var))

var = "hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [17]:
##input

age = input("what is the age")
print(age, type(age))

age = int(input("what is the age"))
print(age, type(age))

23 <class 'str'>
23 <class 'int'>

In [18]:
### Simple Calculator
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))


sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1/num2

print("Sum:", sum)
print("Difference:", difference)
print("product:", product)
print("quotient:", quotient)

Sum: 99.0
Difference: 13.0
product: 2408.0
quotient: 1.302325581395349