In [1]:
##Integers Example
age = 35
type(age)

int

In [2]:
#flaoting point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
#String datatype example
name = "Krish"
print(name)
print(type(name))

Krish
<class 'str'>

In [4]:
#boolean datatype
is_true = True
type(is_true)

bool

In [6]:

a = 10
b = 10

type(a==b)

bool

In [7]:
#common errors

result = "hello" + 5

TypeError: can only concatenate str (not "int") to str

In [8]:
#fix of above error
result = "hello" + str(5)
print(result)

hello5

In [ ]:
str="hello"